name: CI/CD Pipeline

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code repo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Build and push Docker image
      - name: Build & Push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/demo-app:latest
          context: .
          file: ./Dockerfile

      # 3. Checkout Kubernetes config repo
      - name: Checkout k8s config
        uses: actions/checkout@v3
        with:
          repository: Arshdeepdubey/k8s-config
          path: k8s-config

      # 4. Set up kubectl
      - name: Set up kubectl
        uses: azure/k8s-set-context@v1
        with:
          kubeconfig: ${{ secrets.KUBE_CONFIG_DATA }}

      # 5. Deploy manifests
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s-config/deployment.yaml
          kubectl apply -f k8s-config/service.yaml
